<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" enctype="multipart/form-data"/>
    <title>Document</title>
  </head>
  <body>
    {% load humanize %} {% if not post.is_anonymous %}
    <h2>제목 - {{ post.title }}</h2>
    <p>내용 - {{ post.content }}</p>
    <p>작성일 - {{ post.created_at|naturaltime }}</p>
    <br />
    <p>작성자 - {{ post.author }}</p>
        <!-- 영상 & 이미지 -->
    {% if post.image %}
    <img width="320" height="240" src="{{ post.image.url }}" />
    {% endif %} {% if post.video %}
    <video width="320" height="240" controls>
      <source src="{{ post.video.url }}" type="video/mp4" />
    </video>
    {% endif %}
    <p>
      좋아요 - {{post.like.count}} {% if request.user in post.like.all %}
      <form action="{% url 'post:remove-like' post.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">취소</button>
    </form><form action = "{% url 'post:scrap_post' post.id %}" method = "post">{% csrf_token %}
    <button type ="submit">스크랩</button></form>
      {% else %}
      <form action="{% url 'post:add-like' post.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">좋아요</button>
    </form>
    <form action = "{% url 'post:scrap_post' post.id %}" method = "post">{% csrf_token %}
      <button type ="submit">스크랩</button></form>
      {% endif %}
    </p>
    {% else %}
    <h2>익명</h2>
    <p>내용 - {{ post.content }}</p>
    <p>작성일 - {{ post.created_at|naturaltime }}</p>
    <br />
    <p>익명</p>
    <p>
      좋아요 - {{post.like.count}} {% if request.user in post.like.all %}<br>
      <form action="{% url 'post:remove-like' post.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">취소</button>
    </form>
    <form action = "{% url 'post:scrap_post' post.id %}" method = "post">
      <button type ="submit">{% csrf_token %}스크랩</button></form>
      {% else %}
      <form action="{% url 'post:add-like' post.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">좋아요</button>
    </form>
    <form action = "{% url 'post:scrap_post' post.id %}" method = "post">
      {% csrf_token %}
      <button type ="submit">스크랩</button></form>
      {% endif %}
    </p>
    {% endif %}

    <hr />

    <!-- 댓글 작성란 -->
    <p><b>댓글 수: </b> {{ post.comments.count }}</p>
    {% for comment in post.comments.all %}
    <p>
      작성자 - {% if comment.is_anonymous %}익명 -- {{ comment.content }}
      <br />
      작성일 - {{ comment.created_at|naturaltime }}
    </p>
    <p>
      {% else %} {{ comment.author }} -- {{ comment.content }}
      <br />
      작성일 - {{ comment.created_at|naturaltime }}
    </p>
    <br />
    {% endif %} {% empty %}
    <p>댓글이 없습니다.</p>
    {% endfor %}

    <br />
    <hr />
    <br />

    <form method="POST" action="{% url 'post:create-comment' post.id %}">
      {% csrf_token %} 댓글 - <input type="text" name="content" />
      <input type="submit" value="작성" />
      <label>
        <input type="checkbox" name="is_anonymous" id="anonymous" /> 익명
      </label>
    </form>

    <hr />
    <br />

    <a href="{% url 'post:update' post.id %}">수정하기</a><br />
    <a href="{% url 'post:delete' post.id %}">삭제하기</a><br />
    <a href="{% url 'post:list' %}">홈으로</a>
  </body>
</html>
