<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% load humanize %}

    <!-- <a href="{% url 'post:create' %}">글 작성하기</a>

    <hr />
    {% for post in posts %}
    <h3><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h3>
    <p>내용 - {{ post.content }}</p>
    <p>작성일 - {{ post.content }}</p>
    {% empty %} 작성된 글이 없습니다. {% endfor %}
    <hr /> -->
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <hr />
    {% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a><br /><br />
    {% endif %}

    <form method="POST" action="{% url 'post:create' %}">
      {% csrf_token %}
      <label><input type="text" name="title" size="15" placeholder="이름"></label><br>
      <textarea name="content" cols="30" rows="5" placeholder="내용"></textarea>
      <label><input type="checkbox" name="is_anonymous" id="anonymous">익명</label><br>
      <input type="submit" value="작성완료">
    </form>

    <hr>
    {% for post in posts %}
    {% if not post.is_anonymous %}
    <h3><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h3>
    <p>제목 - {{ post.title }}</p>
    <p>내용 - {{ post.content }}</p>
    <p>작성일 - {{ post.created_at|naturaltime }}</p>
    {% else %}
    <p><a href="{% url 'post:detail' post.id %}"><b>익명 작성</b></a></p>
    <p>제목 - 익명 작성</p>
    <p>내용 - 익명 작성</p>
    <p>작성일 - {{ post.created_at|naturaltime }}</p>
    {% endif %}
    {% empty %} 작성된 글이 없습니다. {% endfor %}
  </p>
  </body>
</html>
